.membership{
     margin:   20px 10px 0px 20px;
    .membership__header{
        h1{
            font-family: Poppins, sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #1A1A1A;
            margin-bottom: 10px;
        }
        p{
            font-family: Poppins, sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #9197b3;
            margin: 0px;
        }
    }
    
    .basic-plan{
        width: 340px;
        height: 395px;
        border-radius: 20px;
        border: 3px solid #9197B3;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;

        h1{
            font-family: Poppins, sans-serif;
            font-size: 30px;
            font-weight: 700;
            color: #1A1A1A;
        }
        p{
            font-family: Poppins, sans-serif;
            font-size: 13px;
            font-weight: 400;
            color: #9197B3;
        }
        span{
            font-family: Poppins, sans-serif;
            font-size: 60px;
            font-weight: 400;
            color: #4461F2;
        }

        .basic-plan__content{
            display: flex;
            flex-direction: column;
            gap: 10px;

           p{
            color: #000000;
            display: flex;
            gap: 10px;
           }
        }
    }

    .premium-plan__button{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button{
            width: 200px;
            height: 55px;
            border-radius: 50px;
            border: none;
            background: rgba(68, 97, 242, 0.2);
            color: rgba(68, 97, 242, 1);
            font-family: poppins, sans-serif;
            font-size: 16px;
            font-weight: 600;
            
        }
        

    }
}