.sidebar-menu-admin {
  margin-top: 85px;
  border-radius: 16px;

  span {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9197b3;
  }

  .menu {
    padding-top: 25px;
    width: 265px;
    height: 568px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    display: flex;
    flex-direction: column;

    .menu-item {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 30px;
      gap: 20px;
      cursor: pointer;
      border-radius: 20px;

      img {
        width: 26px;
        height: 24px;
      }

      &.active {
        background-color: #f0f0f0;
        font-weight: 600;
        color: #000 !important;
      }
    }

    .menu-item-group {
      .parent {
        display: flex;
        align-items: center;
        height: 65px;
        padding-left: 30px;
        gap: 20px;
        border-radius: 20px;
        cursor: pointer;

        &.open {
          background-color: #f0f2f5;
        }

        &.active {
          background-color: #f0f0f0;
          font-weight: 600;
          color: #000 !important;
        }
      }

      .submenu {
        display: flex;
        flex-direction: column;

        .sub {
            padding: 13px 70px;
            color: #939ab4;
            cursor: pointer;
            border-radius: 12px;
            text-decoration: none;
            font-family: Poppins, sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #9197b3;

          &:hover {
            color: #6c7082;
          }

          &.active {
            background-color: #f0f0f0;
            color: #000;
            font-weight: 600;
          }
        }
      }
    }

    > div:last-child {
      margin-top: auto;
    }
  }

  .bottom-menu {
    padding-top: 25px;
    width: 265px;
    height: 505px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    .menu-item {
      display: flex;
      align-items: center;
      height: 65px;
      padding-left: 45px;
      gap: 20px;
      cursor: pointer;
    }

    > div:last-child {
      margin-top: auto;
    }
  }

  .logout {
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
  }
}
