.reusable-table {
  font-family: Inter, sans-serif;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    thead {
      background-color: #f1f5f9;
      th {
        padding: 12px;
        text-align: left;
        font-weight: bold;
        color: #333;
      }
    }

    tbody {
      tr {
        
        td {
          padding: 20px;
          border-top: 0px solid #e2e8f0;
        }
      }
    }
  }
}