.generate{
       margin: 50px 60px;
    .generate__item{
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        margin-top: 30px;
    }
    h2{
        font-size: 16px;
        font-weight: 400;
        font-family: Poppins, sans-serif;
        color: #1A1A1A;
    }
    Button, .inputnumber{
        width:178px;
        height: 48px;
        font-size: 14px;
        font-weight: 400;
        font-family: Poppins, sans-serif;
        color: rgba(38, 41, 45, 0.6);
        background-color: #FEFDFD;
        border: 1px solid e9e8e8;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .generate__button{
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        margin-top: 60px;
        button{
            width: 230px;
            height: 66px;
            background-color: rgba(89, 50, 234, 0.2);
            color: #5932EA;
            border: none;
            border-radius: 60px;
            cursor: pointer;
            text-align: center;
            font-family: poppins, sans-serif;
            font-size: 18px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
        
    }
}