.dashboard {
    display: flex;
    justify-content: space-evenly;
    background:#f6f6f6 url("../../img/bgdashboard.png") no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 0;
    .sidebar{
        position: fixed;      
    }

    .dashboard__content{
        padding: 15px 20px 0px 35px;
        height: 578px;
        margin-top: 85px;
        margin-bottom: 40px;
        border-radius: 40px;
        width: 1115px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
        overflow-y: auto;    
    }
}